# Inter folders
dyns/**
data-v0/**
paper-figures/**
tempo/**
src/tempo/*

# Raw data
*.h5
*.pptx

# test .rvt files
*.rvt
!*ini*.rvt
!*control*.rvt

# repository building files
*list*.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/